@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700&display=swap');

/* reset */

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
*:focus {
  outline: none;
}

/* common */

html,
body {
  height: 100%;
  background: #f2f2f2;
}

.container {
  padding: 0 1rem;
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
}
h1 {
  padding: 1.5rem 0;
  margin: auto;
  box-sizing: border-box;
}
h4 {
  color: #5e659a;
  margin-bottom: 0.75rem;
}
h5 {
  width: 100%;
  text-align: center;
  padding-bottom: 8px;
  margin: 1rem 0;
  border-bottom: 1px solid #000;
}
.p3 {
  padding: 1rem !important;
}
.w100 {
  width: 100%;
}
.flex {
  display: flex;
}
.flex--center {
  justify-content: center;
}
.flex__row {
  display: flex;
  flex-wrap: wrap;
}
.flex__row--between {
  justify-content: space-between;
}
.flex__align__self__start {
  align-self: flex-start;
}
p {
  font-size: 13px;
  line-height: 21px;
}

/* element style */
strong {
  display: inline-block;
  white-space: nowrap;
  width: max-content;
}
span {
  width: max-content;
  display: inline-block;
  text-align: right;
}
/* btn */
.btn {
  width: 75px;
  min-width: max-content;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 3px;
  background-color: #c6df9d;
  text-transform: capitalize;
  cursor: pointer;
}
.btn:hover , .btn.active {
  font-weight: 500;
  background-color: #7cba01;
  transition: 0.3s linear;
}
/* loader */
.loader {
  align-items: center;
}
/* side filter */
.filters__types {
  margin: auto;
  max-width: 210px;
}
.filters {
  width: 100%;
  min-width: 210px;
  max-width: 210px;
  background: #fff;
  box-sizing: border-box;
}
/* card list */
.cards {
  width: 100%;
  padding: 0 1rem;
}
.space__cards {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background-color: #fff;
}
.space__cards__img {
  align-items: flex-start;
  height: 240px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: #f2f2f2;
}
.space__cards__img img {
  max-width: 100%;
  max-height: 100%;
}
/* hide element */
.loader--hide , .card--hide , .not__found--hide, #space__cards.space__cards,
#btn__year, #btn__launch, #btn__land {
  display: none;
}
/* mobile view */
@media only screen and (max-width: 700px) {
  h1 {
    max-width: 320px;
  }
  .cards {
    min-width: 320px;
  }
  .filters__section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filters {
    margin-bottom: 1rem;
    max-width: 320px;
  }
  .space__cards {
    min-width: 240px;
    max-width: 320px;
  }
  .cards .flex__row:not(p) {
    justify-content: center;
  }
}
/* tablet view */
@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .cards {
    padding-right: 0;
  }
  .space__cards:nth-child(2n + 2) {
    margin-right: 0;
  }
  .space__cards {
    margin-right: 4%;
    max-width: calc( 96% / 2 );
  }
}
/* desktop view */
@media only screen and (min-width: 1025px) {
  .cards {
    padding-right: 0;
  }
  .space__cards:nth-child(4n + 2) {
    margin-right: 0;
  }
  .space__cards {
    margin-right: calc(4%/3);
    max-width: calc( 96% / 4 );
  }
}